* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-supervisor: hsl(180, 62%, 55%);
    --card-team-builder: hsl(0, 78%, 62%);
    --card-karma: hsl(34, 97%, 64%);
    --card-calculator: hsl(212, 86%, 64%);
    --cor-do-texto: hsl(212, 6%, 44%);
    --cor-de-destaque: hsl(234, 12%, 34%);
}

body {
    color: var(--cor-do-texto);
    font-size: 15px;
    font-family: 'Poppins', arial, georgia;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

header>h1 {
    margin-top: 50px;
    font-weight: 300;
}

header>h2 {
    color: var(--cor-de-destaque);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

header>p.descricao {
    margin: 0px 90px;
    font-size: 18px;
    margin-bottom: 40px;
}


main>section {
    position: relative;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.199);
    margin: 30px;
}

main>section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--card-supervisor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main>section.builder::before {
    background-color: var(--card-team-builder);
}

main>section.karma::before {
    background-color: var(--card-karma);
}

main>section.calculator::before {
    background-color: var(--card-calculator);
}

main>section>h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0px 8px 40px;
}

main>section>p {
    margin: 0px 40px;
}

main>section>img {
    position: absolute;
    top: 12em;
    left: 20em;
}